<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ashbatten Official</title>

  <!-- Style -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" rel="stylesheet">
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
  <!-- favicon -->
  <link rel="icon" href="../assets/img/icon.png" type="image/png">

  <!-- AOS Animation CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <header class="fixed top-0 w-full z-50 bg-blue-500 p-4 flex justify-between items-center">
    <div class="text-2xl font-bold ml-5">Ashbatten</div>
    <nav class="navbar desktop space-x-4">
      <a href="../index.html" class="px-3 py-1 nav-link">Home</a>
      <a href="../index.html" class="px-3 py-1 nav-link">About</a>
      <a href="portfolio.html" class="px-3 py-1 nav-link">Portfolio</a>
      <a href="#" class="px-3 py-1 nav-link">Contact</a>
    </nav>
    <button id="menu-toggle" class="md:hidden">☰</button>
  </header>
  <div id="mobile-menu" class="md:hidden fixed top-0 left-0 w-full bg-gray-900 p-4 space-y-2 hidden z-40">
    <a href="../index.html" class="text-white hover:text-blue-500 ">Home</a>
    <a href="../index.html" class="text-white hover:text-blue-500">About</a>
    <a href="portfolio.html" class="text-white hover:text-blue-500">Portfolio</a>
    <a href="#" class="text-white hover:text-blue-500">Contact</a>
  </div>

  <main class="container mx-auto px-4 mt-32 mb-16">
    <!-- Contact -->
    <div class="bg-white bg-white p-6 mt-4 rounded-xl shadow" data-aos="fade-up">
    <h2 class="text-3xl font-semibold mt-8" id="contact">Contact</h2>
    <div class="bg-white p-6 mt-4 flex flex-col md:flex-row gap-6">
      <div class="md:w-1/2 w-full" data-aos="fade-left" data-aos-delay="500">
        <p class="mb-2">Feel free to contact me at:</p>
        <p>Email: <a href="mailto:ashbattenofficial@gmail.com" class="text-blue-500">ashbattenofficial@gmail.com</a></p>
        <p>Phone: <a href="tel:+6285136485461" class="text-blue-500">+62 851-3648-5461</a></p>
        <form class="mt-4" method="post" action="contactForm">
          <input type="text" placeholder="Your Name" class="border p-2 w-full mb-2 rounded">
          <input type="email" placeholder="Your Email" class="border p-2 w-full mb-2 rounded">
          <textarea placeholder="Your Message" class="border p-2 w-full mb-2 rounded pb-10"></textarea>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Send</button>
        </form>
      </div>
      <!-- Kanan: Google Maps -->
      <div class="md:w-1/2 w-full flex items-center">
        <div class="w-full h-64 md:h-80">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126748.56347862248!2d107.57311709235512!3d-6.903444341687889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6398252477f%3A0x146a1f93d3e815b2!2sBandung%2C%20Bandung%20City%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1672408575523!5m2!1sen!2sid" 
            class="w-full h-full rounded-xl shadow"
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </main>

  <div class="mt-32"></div>
  <!-- Footer -->
  <footer class="footer mt-48 flex flex-col justify-center items-center p-6 bg-gray-900 text-white">
    <div class="social flex justify-between w-32 mb-4">
      <a href="https://www.instagram.com/rizqi5836/" class="hover:text-blue-500">
        <i data-feather="instagram"></i>
      <a href="https://www.facebook.com/profile.php?id=100081972251173&locale=id_ID" class="hover:text-blue-500">
        <i data-feather="facebook"></i></a>
      </a>
      <a href="https://www.linkedin.com/in/moch-rizqi-hermawan-undefined-a1b81b35b/" class="hover:text-blue-500">
        <i data-feather="linkedin"></i>
      </a>
      <a href="https://www.github.com/Decayy25" class="hover:text-blue-500">
        <i data-feather="github"></i>
      </a>
    </div>

    <div class="links flex gap-4 mb-4">
      <a href="../index.html">Home</a>
      <a href="../index.html">About</a>
      <a href="portfolio.html">Portfolio</a>
      <a href="#">Contact</a>
    </div>

    <div class="credit mb-4">
      <p>Created by <a href="../index.html" class="text font-bold text-white hover:underline transition duration-300">Rizqi</a> | © 2025.</p>
    </div>
    <div class="bg-gray-900 text-white py-6 text-center">
      &copy; 2025 MyWebsite. All rights reserved.
    </div>
  </footer>
  
  <!-- Script -->
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="../assets/js/main.js"></script>
  <script>renderPortfolio()</script>
  <script>feather.replace()</script>
  <script>AOS.init({ duration: 1000, once: true });</script>
  <script>AOS.refresh();</script>
  <script>renderSkills();</script>
</body>
</html>